.banner-principal-decorativo
  &-1
    top: 15%
    right: 77%
    width: 110px
    position: absolute
    animation: float1 3.5s ease-in-out infinite alternate
  
  &-2
    top: 69%
    right: 67%
    width: 95px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate

  &-3
    top: 20%
    right: 3%
    width: 110px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate

@media (min-width: 1025px)
  .banner-principal-decorativo
    &-1
      top: 15%
      right: 80%
      width: 140px
    
    &-2
      top: 70%
      right: 65%
      width: 140px
    
    &-3
      top: 20%
      right: 3%
      width: 140px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)


.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal__numero
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: $color-acento-contenido !important

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner_interno.png') !important

.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: $bp-max-md)
    background-image: url(../assets/curso/portada/fondo-banner-principal-sm.png) !important
  @media screen and (max-width: $bp-max-sm)
    background-image: url(../assets/curso/portada/fondo-banner-principal-xs.png) !important

.banner-principal_row .banner-principal_img
  width: 500px !important
  @media screen and (max-width: $bp-max-sm)
    width: 400px !important

.titulo-principal.color-acento-contenido
  color: $color-sistema-texto !important

.titulo-principal__numero span
  color: $color-sistema-texto !important
  
.banner-interno__titulo__icono i
  color: $color-primario

.banner-interno_titulo_icono i
  color: $color-primario

.boton *, .boton--sm *
  color: $white

.boton:active *, .boton--sm:active *, .boton:focus *, .boton--sm:focus *, .boton:hover *, .boton--sm:hover *
  color: $white

.barra-avance__boton--regresar span
  color: $white !important

figcaption
  font-weight: normal

.banner-interno__titulo h2
  color: $color-sistema-texto !important
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto

// --- .cita-decorada ---

.cita-decorada
  
  .cita-decorada__caja
    background-size: 100% 100%
    background-repeat: no-repeat

    &--fondo-1
      background-image: url('../assets/curso/sintesis/img_3.png')

    &--fondo-2
      background-image: url('../assets/curso/temas/tema_1/img_3.png')

    &--fondo-3
      background-image: url('../assets/curso/temas/tema_2/img_7.png')

    &--fondo-4
      background-image: url('../assets/curso/temas/tema_4/img_18.png')
    
    &--fondo-5
      background-image: url('../assets/curso/sintesis/img_3.png')
    


    [class*="cita-decorada__imagen-flotante"]
      width: 100%
      height: auto
      
    .cita-decorada__imagen-flotante-1
      position: absolute
      transform: translateY(-113px) translateX(-40px)
      z-index: 3
      max-width: 220px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-113px) translateX(-40px)
        max-width: 220px
      
    .cita-decorada__imagen-flotante-2
      position: absolute
      transform: translateY(-106px) translateX(-68px)
      z-index: 3
      max-width: 300px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-85px) translateX(-68px)
        max-width: 250px
      
    .cita-decorada__imagen-flotante-3
      position: absolute
      transform: translateY(-100px) translateX(-68px)
      z-index: 3
      max-width: 240px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-80px) translateX(-60px)
        max-width: 200px
      
    .cita-decorada__imagen-flotante-4
      position: absolute
      transform: translateY(-95px) translateX(-45px)
      z-index: 3
      max-width: 210px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-80px) translateX(-45px)
        max-width: 185px

// Fondos 
.bg_img
  &_1
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -290px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_8.png') !important
      background-repeat: no-repeat
  &_2
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -317px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_2/img_18.png') !important
      background-repeat: no-repeat
  &_3
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -21px
      left: -48px
      width: calc(100% + 96px)
      height: 115%
      background-image: url('../assets/curso/temas/tema_2/img_17.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
    .slyder-a__tipo-b .slyder-a__btn--sigt
      background-color: $color-acento-botones
    .slyder-a__tipo-b .slyder-a__btn--atrs
      background-color: $color-acento-botones
    .slyder-a__bullets__item--active
      background-color: $color-terciario !important
      border-color: $color-terciario !important
      opacity: 1
    .slyder-a__bullets__item
      background-color: lighten($color-terciario, 15%)
      border: 1px solid lighten($color-terciario, 15%)
    @media (max-width: 600px)
      .slyder-a__btn--sigt, .slyder-a__btn--atrs
        width: 35px
        height: 35px
        padding: 1.1rem
      .slyder-a__tipo-b 
        transform: translateX(-10%)
  &_4
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -115px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_15.png') !important
      background-repeat: no-repeat
  &_5
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -170px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_19.png') !important
      background-repeat: no-repeat
      @media (max-width: 768px)
        top: -480px
        background-image: url('../assets/curso/temas/tema_4/img_5.png') !important

  &_6
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -90px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_19.png') !important
      background-repeat: no-repeat

// TabsA 
.tabs-a.mb-0.tarjeta-tabs-a.color-terciario-10
  .row
    align-items: stretch !important
    justify-content: center !important
    .col-lg-4.col-xl-3
      flex: 0 0 100% !important
      max-width: 100% !important
      display: flex
      flex-direction: column

      @media (min-width: 1200px)
        flex: 0 0 35% !important
        max-width: 35% !important
      
      @media (max-width: 991px)
        flex: 0 0 100% !important
        max-width: 100% !important
    .col-lg-8.col-xl-9
      flex: 0 0 100% !important
      max-width: 100% !important
      display: flex !important
      
      @media (min-width: 1200px)
        flex: 0 0 65% !important
        max-width: 65% !important
        
      @media (max-width: 991px)
        flex: 0 0 100% !important
        max-width: 100% !important

.tabs-a.mb-5.tarjeta-tabs-a.color-primario-10 .col-sm-6.col-lg-12.mb-3
  .tabs-a__tab
    padding: 18px 22px !important
    font-size: 0.95rem !important
    min-height: 60px !important
    flex-grow: 1

.tabs-a .tarjeta-tabs-a__tarjeta
  flex-grow: 1 !important
  width: 100%
  display: flex !important
  align-items: center !important
  justify-content: center !important

//acordion__activo
.acordion__activo
  background-color: $color-terciario-10

// factores-slider custom-slider
.factores-slider, .custom-slider
  &__icon 
    max-height: 93px
  .h-95
    height: 95% !important
  .slyder-f
    align-items: center
    justify-content: center
    gap: 0
  .slyder-f__btn
    background-color: $color-acento-botones
    color: $white !important
    height: 42px
    width: 42px
    min-width: 42px
    border-radius: 50%
    padding: 0 !important
    transition: transform 0.3s
    z-index: 100
    
    &:hover
      transform: scale(1.1)
    .fa-chevron-left, .fa-chevron-right
      font-size: 1.5rem
    &.ps-3
      margin-left: 7px
      @media (max-width: 1024px)
        margin-left: 7px
    &.pe-3
      margin-right: 7px
      @media (max-width: 1024px)
        margin-right: 7px
  &--color-fondo-1
    &__icon 
      max-height: 93px
    .h-95
      height: 95% !important
    .slyder-f
      align-items: center
      justify-content: center
      gap: 0
    .slyder-f__btn
      background-color: $color-acento-botones !important
      color: $white !important
      height: 42px
      width: 42px
      min-width: 42px
      border-radius: 50%
      padding: 0 !important
      transition: transform 0.3s
      &:hover
        transform: scale(1.1)
      .fa-chevron-left, .fa-chevron-right
        font-size: 1.5rem
      &.ps-3
        margin-left: 7px
        @media (max-width: 1024px)
          margin-left: 7px
      &.pe-3
        margin-right: 7px
        @media (max-width: 1024px)
          margin-right: 7px

// Tabla a 
.tabla-a thead
  border-top: 5px $color-terciario solid
  background-color: $color-terciario-20
  color: $color-sistema-a
  font-weight: bold
.bg-table-01
  background-color: $color-adicional-1
  color: $color-sistema-texto

.border-dashed 
  border-style: dotted !important

// Contenedor principal de la infografía GPS
// ----------------------------------------
.punto-info
  position: absolute 
  z-index: 20 
  .punto-numero
    display: grid 
    width: 50px 
    height: 50px
    border-radius: 50% 
    place-items: center 
    font-weight: 700
    cursor: pointer 
    font-size: 1.7rem
    background: $color-terciario-10
    transition: all 0.3s ease 
    box-shadow: 0 5px 15px rgba($color-terciario-10, 0.4)
    &:hover
      background: $color-acento-contenido
      color: $white
      box-shadow: 0 5px 15px rgba($color-acento-contenido, 0.4)
    &.active .punto-numero
      background: $color-acento-contenido
      color: $white
      box-shadow: 0 5px 15px rgba($color-acento-contenido, 0.4)
// Contenedor de las tarjetas de información
// -----------------------------------------
.info-cards-container
  position: relative 
  width: 100%
  pointer-events: none 
// Estilo de las tarjetas de información individuales
// -------------------------------------------------
.info-card
  gap: 1rem
  width: 100%
  height: 100%
  display: flex
  padding: 2.5rem 1em 2.5rem 5rem
  border-radius: 25px
  border-radius: 25px
  align-items: center
  flex-direction: row
  justify-content: space-between
  transition: all 0.3s ease-in-out
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-image: url('../assets/curso/temas/tema_1/img_15.png')
  display: none
  // Contenido principal de la tarjeta
  .card-content
    flex-grow: 1
    order: 2
    p
      color: $color-sistema-texto 
      font-size: 0.9rem 
      line-height: 1.6 
      margin: 0 
      strong
        font-weight: 700 
  // Círculo numerado en la esquina inferior derecha
  .img-circulo
    order: 1
    width: 100px
    height: 100px
    display: grid
    flex-shrink: 0
    position: absolute
    place-items: center
    transform: translate(-120%, 0%)
    

// Bucle para generar estilos específicos para cada punto (1-6)
// -----------------------------------------------------------
@for $i from 1 through 6
  .row:has(input#infografia-punto-#{$i}:checked) label.punto-info[for='infografia-punto-#{$i}'] .punto-numero
    background: $color-acento-contenido
    color: $white
    box-shadow: 0 5px 15px rgba($color-acento-contenido, 0.4)

  input#infografia-punto-#{$i}:checked ~ .info-cards-container .info-card[data-card='#{$i}']
    display: flex

////.m custom
.mb-6
  margin-bottom: 5rem !important

//// Tarjetas --------------------------------------
.img90
  width: 90px
.crd
  &.brd--rad
    border-radius: 20px
  &.crd--grayGrad
    padding: 2rem
    height: 100%
    background-color: $color-sistema-h
    border-radius: 15px
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &:hover
      background: linear-gradient(180deg, rgba(25,137,226,1) 0%, rgba(10,81,139,1) 100%)
      h4, p
        color: $white
      .bottomCircle
        &::before
          background-color: transparent
  &.crd--blue
    background-color: $color-terciario-10

  &.crd--border
    border: 4px solid $color-acento-botones
    border-radius: 20px

.bottomCircle
  position: relative
  & > *
    position: relative
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 115px
    height: 115px
    background-color: transparent
    border-radius: 999px

.crd--avatarHorizontal
  position: relative
  padding-right: 25rem
  min-width: 260px
  & > *
    position: relative
  h5
    color: $color-sistema-texto
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 3vw
    width: calc(100% - 4rem)
    height: 100%
    background-color: $color-primario-5
  .col-auto
    position: relative
    width: clamp(30px, 8vw, 90px)
    height: auto
  .col-auto figure img
    position: absolute
    left: 5vw
    width: 100%
    max-width: 90px
    transform: translateY(-50%)
  @media (max-width: 2560px)
    &::before
      right: 2vw
    .col-auto figure img
      left: -2rem
  @media (max-width: 1440px)
    .col-auto figure img
      left: -0.3rem
  @media (max-width: 1024px)
    padding-right: 3rem
    &::before
      right: 3vw
    .col-auto
      width: 70px
    .col-auto figure img
      left: 0.2rem
  @media (max-width: 768px)
    padding-right: 3rem
    &::before
      right: 5vw
    .col-auto figure img
      left: 0.2rem
  @media (max-width: 425px)
    padding-right: 3rem
    &::before
      right: 7vw
    .col-auto figure img
      left: 0.3rem

.crd--first,.crd--middle
  &::before
    background-color: $color-terciario-10 !important

.crd--first
  &::before
    border-top-left-radius: 30px
.crd--last
  &::before
    background-color: $color-primario-5 !important
    border-bottom-left-radius: 30px

.avatar
  position: absolute
  bottom: 0
  right: -8rem
  z-index: 1
  img
    width: clamp(150px, 39.9vw, 590px)
    height: auto
    transform: translateY(35px) translateX(-10px)
  @media (max-width: 1024px)
    display: none

.bloque_fondo
  .bloque-texto-g__img
    width: 100%

.tabs-a.color-primario .tabs-a__tab:hover, .tabs-a.color-primario .tabs-a__tab:active, .tabs-a.color-primario .tabs-a__tab:focus
  background-color: $color-terciario-10
  color: $white

.tabs-a__tab
  background-color: $color-primario-5
  color: $color-sistema-texto
.tabs-a.color-primario .tabs-a__tab__selected
  background-color: $color-terciario-10
  color: $white
.tabs-a.color-primario .tabs-a__tab__selected:before
  background-color: $color-terciario-10
.tabs-a__content-item
  background-color: $color-terciario-10
  border-radius: 10px
